<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seongbinsoft.pickupasap">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickUpAsap"
        android:usesCleartextTraffic="true">
        <activity android:name=".GoogleMapActivity"
            android:theme="@style/LaunchActivityTheme"/>
        <activity
            android:name=".ShopMenuActivity"
            android:theme="@style/LaunchActivityTheme" />
        <activity
            android:name=".ShopInfoActivity"
            android:theme="@style/LaunchActivityTheme" />
        <activity
            android:name=".ShopListActivity"
            android:theme="@style/LaunchActivityTheme" />
        <activity
            android:name=".LoginAccountActivity"
            android:theme="@style/LaunchActivityTheme" />
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/LaunchActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/LaunchActivityTheme">
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao1b0ee869d103812d18383c935416527e"/>
            </intent-filter>
        </activity>

        <!-- FCM 서비스 등록 -->
        <service android:name=".MyFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- 1. 구글 지도 SDK 버전 번호 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- HTTP 라이브러리 사용 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- ## API 키 등록 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuYcOSHKVHrU56NEElHye9j2sAc6BV8aA" />
    </application>

</manifest>